.container {
  width: 100%;
  gap: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5% 10%;
  width: 100%;
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 0;
}

.buttonMyTask {
  display: flex;
  flex-direction: row;
  width: 25%;
  gap: 2px;
  border-radius: 5px;
  border: 1px solid var(--primary4);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 2px;
  background-color: white;
  cursor: pointer;
}

.buttonNewTask {
  width: 20%;
  height: 2em;
  background-color: var(--primary1);
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.list {
  overflow-y: auto;
  overflow-x: none;
  padding: 2.5%;
  padding-top: 15%;
}

.filterTask {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 5px;
  border-radius: 5px;
  border: 1px solid var(--primary4);
  background-color: white;
  position: absolute;
  top: 10%;
  left: 2%;
}

.optionFilter {
  padding: 2.5%;
  border-bottom: 1px solid var(--primary4);
  cursor: pointer;
}
