.group {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
}

.inbox {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: relative;
}

.circle {
  background-color: var(--primary3);
  border-radius: 100%;
  min-width: 90%;
  height: 32px;
  position: absolute;
  right: 25%;
}

.inboxButton {
  z-index: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
