.group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.inbox {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: relative;
}

.circle {
  background-color: var(--primary3);
  border-radius: 100%;
  min-width: 90%;
  min-height: 90%;
  position: absolute;
  right: 25%;
}

.inboxButton {
  z-index: 1;
}
